* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.calculadora {
    border: 5px solid black;
    border-radius: 10px;
    background-color: #fed971;
    width: 300px;
    margin: 0 auto;
    height: 50vh;
}

.pantalla {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #514354;
    width: 90%;
    height: 18%;
    justify-self: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pantalla__p {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #bcbcc8;
    box-shadow: 8px 8px 3px #a1a1af inset;
    width: 85%;
    height: 80%;
    z-index: 5;
    display: flex;
    justify-content: right;
    align-items: center;

    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.botonera {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3px;
    width: 90%;
    height: 50%;
    justify-self: center;
    margin-top: 40px;
    gap: 10px;
}
.item{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;

    border: 3px solid black;
    border-radius: 15px;
    background-color: #fba375;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.346);
}
.item2{
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;

    border: 3px solid black;
    border-radius: 15px;
    background-color: #fed971;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.341);
}

.item:hover{
    background-color: #f89a67;
}
.item:active{
    background-color: #fba375;
}
.item2:hover{
    background-color: #ffd255;
}
.item2:active{
    background-color: #fed971;
}